.wr {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}

.title {
  font-size: 4rem;
}

@media screen and (max-width: 425px) {
  .wr {
    margin-top: 50px;
  }
} 