:root {
  --black: #191919;
  --blue: #00b;
}


body {
  background-color: var(--black);
  color: white;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100vw;
  position: relative;
  min-width: 320px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
